bandit==1.9.4
black==26.5.1
build==1.5.0
coverage==7.14.2
flake8==7.3.0
fpvs==0.3.0
grpcio-tools==1.81.1
isort==8.0.1
mypy==2.1.0
orjson==3.11.9
psutil==7.2.2
pylint-per-file-ignores==3.2.1
pylint==4.0.6
pytest-cov==7.1.0
pytest-schema==0.1.2
pytest==9.1.1
senzing-core==1.0.3
twine==6.2.0
virtualenv==21.5.1
wheel==0.47.0
